# This is a copy of .env that is included in .gitignore, just to get used to best practices

DB_HOST=localhost
DB_PORT=5433
DB_NAME=postgres
DB_SCHEMA=lyfter_car_rental
DB_USER=postgres
DB_PASSWORD=postgres