APP_ENV=development
DB_SCHEMA=orm_exercises  #This is optional, in my case I want to name it "orm_exercises"
DATABASE_URL=my_local_db_url
TEST_DATABASE_URL=my_local_db_url_for_testing
SECRET_KEY=my_api_secret_key